<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4 class="ion-text-center"> Login </h4>

  <div class="ion-padding">
    <ion-item>
      <ion-input name="email" type="email"  [(ngModel)]="email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" type="password"   [(ngModel)]="password" ></ion-input>
    </ion-item>
  </div>

  <ion-button (click)="getLogin()" expand="block">Login</ion-button>

  <div>stateLogin: {{count$ | async}}</div>

</ion-content>
